<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>UserInfo</title>
</head>
<body>
    <div th:include="@{/commons/header} :: pageInfo"/>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>权限</th>
        </tr>
        <tr th:each="user : ${userList}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.age}"></td>
            <td th:switch="${user.permission}">
                <p th:case="1">管理员</p>
                <p th:case="0">用户</p>
            </td>
        </tr>
    </table>

    <a th:href="@{/bookList}">查看图书信息</a>

    <div th:include="@{/commons/footer} :: companyInfo" th:with="projectName=产品"/>
</body>
</html>